:root {
    font-size: 16px;
    --main-light-blue: rgb(109, 255, 243);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.header {
    height: 100px;
    background-color: var(--main-light-blue);
    display: flex;
    align-items: center;
}

.title {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 300px;
    background-color: rgb(179, 179, 179);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    color: white;
    font-size: 1.5rem;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.project-item {
    padding: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    border-right: none;
}

.add-project {
    align-self: center;
}

.project-input {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.project-input-container {
    display: flex;
    flex-direction: column;
}

.item-input {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}