:root {
    font-size: 16px;
    --main-light-blue: rgb(109, 255, 243);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.header {
    height: 100px;
    background-color: var(--main-light-blue);
    display: flex;
    align-items: center;
}

.title {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 400px;
    background-color: rgb(179, 179, 179);
}